<div class="fullmenu" ng-controller="FullMenuController">

  <koa-toolbar>
    <koa-icon-button icon="{{fullmenu.icon}}" ng-if="!showBack" ng-click="showFullMenu()"></koa-icon-button>
    <koa-icon-button icon="arrow-back" ng-click="goBack()" ng-if="showBack"></koa-icon-button>
    <img id="logo" ng-src="{{fullmenu.modulescope.toolbarLogo}}" ng-if="fullmenu.modulescope.toolbarLogo">
    <span class="title" ng-if="fullmenu.modulescope.toolbarTitle">{{toolbar.title}}</span>
  </koa-toolbar>

  <div id="menu" ng-class="fullmenu.shown ? 'shown' : ''">
    <div id="header" ng-if="fullmenu.modulescope.headerShown" ng-class="[fullmenu.modulescope.headerAlignment, fullmenu.modulescope.headerReverse ? 'reverse' : '']" style="background-image: url('{{fullmenu.modulescope.headerBackgroundImage}}'); background-color: {{fullmenu.modulescope.headerBackgroundColor}};">
      <div class="logo" ng-if="fullmenu.modulescope.headerLogo">
        <img ng-src="{{fullmenu.modulescope.headerLogo}}">
      </div>
      <span class="title" ng-if="fullmenu.modulescope.headerTitle">{{fullmenu.modulescope.headerTitle}}</span>
    </div>

    <a href="{{module.url}}" ng-class="($index === currentIndex) ? 'selected' : '' " ng-repeat="module in fullmenu.modules" tabindex="-1">
      <koa-item class="item"  style="background-image: url('{{module.backgroundImage}}'); background-color: {{module.backgroundColor}};">
        <span ng-if="fullmenu.modulescope.iconPosition !== 'left'">{{module.text}}</span>
        <div class="backgroud" style="display: block; position: absolute; background-color: rgba(0,0,0,.4);height: 100%;width: 100%;left: 0; top:0"></div>
        <koa-icon ng-class="fullmenu.modulescope.iconPosition" icon="{{module.icon}}" ng-if="fullmenu.modulescope.showicons" class="icon big-icons"></koa-icon>
        <span ng-if="fullmenu.modulescope.iconPosition === 'left'">{{module.text}}</span>
      </koa-item>
    </a>
  </div>

  <div id="main">
    <!-- moduleIdentifier + Template -->
    <div ng-include="fullmenuTemplate" class='template'></div>
  </div>

</div>
